* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../img/fundo.jpg");
    background-size: auto 100vh;
    font-family: Arial;
    height: 100vh;
    font-size: 12px;
    font-family: 'Source Code Pro', monospace;
}

/*  se a tela tiver pelo menos 400 pixel*/
/* brakepoint */
@media (min-width: 400px){
    body{
        font-size: 14px;
    }
}
@media (min-width: 600px){
    body{
        font-size: 18px;
    }
}

header{
    /* pegar a tela toda  */
    height: 100vh;
    /* centralizando */
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: aliceblue;
    /* fixar o menu sobre os outros elementos no eixo z  */
    position: fixed;
    width: 100vw;
    top: 0;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

.menu a {
    /* display block pra organizar como o padding vai funcionar */
    display: block;
    padding: 10px 20px;
}

a{
    text-decoration: none;
    color: teal;
}

a:hover {
    text-decoration: underline;
}

.site-subtitle,
.site-title {
    color: whitesmoke;
    text-align: center;
}

.site-title{
    /* quatro vezes o tamanho normal */
    font-size: 4em;
    font-family: 'Gloria Hallelujah', cursive;
}

.site-subtitle{
    font-style: italic;
    font-family: 'Press Start 2P', cursive;
    line-height: 1.8em;
}

section{
    color: aliceblue;
}

.portifolio{
    padding: 2em;
    height: 100vh;
}

.portifolio .grid{
    display: grid;
    gap: 2em;
}

@media(min-width:560px){
    .portifolio .grid{
        grid-template-columns: 240px 240px;
    }
}

@media(min-width:880px){
    .portifolio .grid{
        grid-template-columns: repeat(3, 240px);
        justify-content: center;
    }
}

.portifolio figure{
    text-align: center;
}

.portifolio h2{
    font-family: 'Press Start 2P', cursive;
    color: whitesmoke;
    margin-bottom: 1.5em;
    font-size: 2em;
}

.img-portfolio{
    height: 180px;
    width: 240px;
}

@media(min-width:1200px){
    .img-portfolio{
        height: 10em;
        width: auto;
    }
}