* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../img/fundo.jpg");
    background-size: auto 100vh;
    font-family: Arial;
    height: 100vh;
    font-size: 12px;
    font-family: 'Source Code Pro', monospace;
}

/*  se a tela tiver pelo menos 400 pixel*/
/* brakepoint */
@media (min-width: 400px){
    body{
        font-size: 14px;
    }
}
@media (min-width: 600px){
    body{
        font-size: 18px;
    }
}

header{
    /* pegar a tela toda  */
    height: 100vh;
    /* centralizando */
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: aliceblue;
    /* fixar o menu sobre os outros elementos no eixo z  */
    position: fixed;
    width: 100vw;
    top: 0;
    /* Ajustar o eixo z */
    z-index: 1;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

.menu a {
    /* display block pra organizar como o padding vai funcionar */
    display: block;
    padding: 10px 20px;
    transition: background-color 1s,color 2s;
}

.menu a:active,
.menu a:hover{
    /* display block pra organizar como o padding vai funcionar */
   background-color: teal;
   color: whitesmoke;
}

a{
    text-decoration: none;
    color: teal;
}

a:hover {
    text-decoration: underline;
}
.titulo{
    transform: scale(0.2) translateY(50vh);
    opacity: 0;
    animation: 1s linear 2s animacaoTitulo forwards;
}

@keyframes animacaoTitulo{
    100%{
        transform: scale(1) translateY(0);
        opacity: 1;
    }
}

.site-subtitle,
.site-title {
    color: whitesmoke;
    text-align: center;
}

.site-title{
    /* quatro vezes o tamanho normal */
    font-size: 4em;
    font-family: 'Gloria Hallelujah', cursive;
}

.site-subtitle{
    font-style: italic;
    font-family: 'Press Start 2P', cursive;
    line-height: 1.8em;
}

section{
    color: aliceblue;
}
.sobre,
.contato,
.portifolio{
    padding: 2em;
    min-height: 100vh;
    
}

@media(min-width: 1200px){
   .container{
        max-width: 1200px;
         /* centralizar horizontalmente */
        margin-left: auto;
        margin-right: auto;
       
    }
}

.sobre .avatar{
    float: right;
    margin-left: 30px;
    
}
.sobre .avatar img{
    height: 340px;
    width: 340px;
    /* border-radius: 50%;  */
    clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);

    
}

.sobre p {
    text-indent: 2em;
    margin-bottom: 1.4em;
    text-align: justify;
}

.portifolio .grid{
    display: grid;
    gap: 2em;
}

@media(min-width:560px){
    .portifolio .grid{
        grid-template-columns: 240px 240px;
    }
}

@media(min-width:880px){
    .portifolio .grid{
        grid-template-columns: repeat(3, 260px);
        align-content: center;
        justify-content: center;
        height: calc(100vh - 5.5em - 48px );
    }
}

.portifolio figure{
    text-align: center;
}

.sobre h2,
.contato h2,
.portifolio h2{
    font-family: 'Press Start 2P', cursive;
    color: whitesmoke;
    margin-bottom: 1.5em;
    font-size: 2em;
}

.img-portfolio{
    height: 180px;
    width: 240px;
    object-fit: cover;
    object-position:center;
    border-radius: 10px;
    transition: transform 500ms ;
}

/* .img-portfolio:hover{
    transform: scale(1.2);
} */

.flip-card{
    perspective: 300px;
}

.card{
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.flip-card:hover .card{
    transform: rotateY(180deg);
}

.card-front ,
.card-back{
position: absolute;
top: 0;
left: 0;
backface-visibility: hidden;
}

.card-back{
    background-color: black;
    height: 180px;
    width: 100%;
    transform: rotateY(180deg);
}

.contato .icons{
    text-align: center;
}

.contato a {
    color: whitesmoke;
    font-size: 5em;
    transition: text-shadow 0.5s;
}
.contato a:active,
.contato a:hover {
    text-decoration: none;
    text-shadow:0px 0px 13px whitesmoke;
}
/* 
@media(min-width:1200px){
    .img-portfolio{
        height: auto;
        width: 100%;
    }
} */